.backgroundTile_Dark, .backgroundTile_Light{
	position: absolute;
}

.backgroundTile_Dark{
	background-color: #5195bd;
}

.backgroundTile_Light{
	background-color: white;
}

.movementTile{
	box-shadow: 0 0 0 4px orange inset;
	cursor: pointer;
	z-index: 1;
}

.movementTile:hover{
	box-shadow: 0 0 0 5px orange inset;
}

#game_area{
	position: absolute;
	height: 100%;
	width: 100%;
}

.boardDisplay{
	position: absolute;
	border: 4px solid #30607e;
	width: 45%;
	height: 80%;
	z-index: 2;
}

.boardDisplay, .boardDisplay>* , #game_area{
	padding: 0;
	margin: 0;
}

#turn_display{
	position: absolute;
	top: 30%;
	left: 50%;
	font-size: 2em;
}

.unit{
	position: absolute;
	transition: all 0.75s;
	z-index: 3;
	pointer-events: none;
	font-size: 3em;
}

.occupied:hover{
	box-shadow: 0 0 0 4px orange inset;
	z-index: 2;
	cursor: pointer;
}

.player_1{
	color: white;
}

.player_2{
	color: black;
}
